<div class="article-item" [ngClass]="{ 'on-sale': article.isOnSale, 'not-available': !article.isOnSale }">
  <h2>{{ article.name }}</h2>
  <img [src]="article.imageUrl" alt="{{ article.name }}" class="article-image">
  
  <!-- Precio con ngClass para aplicar color gris si no está a la venta -->
  <p [ngClass]="{ 'not-available': !article.isOnSale }">
    Price: ${{ article.price }}
  </p>
  
  <!-- Mensaje de "En oferta" si el artículo está disponible -->
  <p *ngIf="article.isOnSale" class="sale-notice">On Sale!</p>
  
  <!-- Muestra la cantidad en el carrito solo si el artículo está a la venta -->
  <div *ngIf="article.isOnSale" class="quantity-controls">
    <button (click)="decrementQuantity()" [disabled]="article.quantityInCart === 0">-</button>
    <span>{{ article.quantityInCart }}</span>
    <button (click)="incrementQuantity()">+</button>
  </div>
  
</div>
  