<div [ngClass]="{ 'article-item': true, 'on-sale': article.isOnSale }">
  <h3>{{ article.name }}</h3> <!-- Asegúrate de usar <h3> aquí -->
  <img [src]="article.imageUrl" alt="Imagen del artículo" class="article-image"/>
  <p>Precio: {{ article.price | currency }}</p>
  <p *ngIf="article.isOnSale; else noSale">En venta</p>
  <ng-template #noSale><p>No disponible para la venta</p></ng-template>
  
  <div class="quantity-controls">
    <button (click)="decrementQuantity()">-</button>
    <span>{{ article.quantityInCart }}</span>
    <button (click)="incrementQuantity()">+</button>
  </div>
</div>
